body{
    font-family: "Noto Sans", sans-serif;
}

h1,h2,h3, .navbar-brand {
    font-family: "Lora", serif;
}
.header-title{
    font-size: 45px;
    font-weight: bold;
}
.card{
    border: none;
}
.card:hover{
    transform: scale(1.06);
    transition: all 0.3s ease-in-out;
}
.card-service{
    background: #198754 !important;
    color:#fff;
    cursor:pointer
}

.card-service:hover{
    background-color: #dc3545 !important ; 
}
.about-text{
    margin-top: 60px;
}
.portfolio-card{
    position:relative;
    overflow: hidden;
    cursor: pointer;
}
.portfolio-img{
    height: 340px;
    filter:brightness(0.9);
}
.portfolo_decription{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 3%;
    text-align: center;
}